<html>
<body>
<div class="main" ng-controller="orderController">
    <div class="input-box transition-2s" ng-class="{displayerror:mobileerror}">
        <p>
            <input id="mobile" type="number" placeholder="联系电话" ng-blur="validMobile()" />
        </p>
    </div>
    <div class="input-box transition-2s" ng-class="{displayerror:usernameerror}">
        <p>
            <input type="text" id="username" placeholder="联系人" ng-model="orderdetail.memberUserName" ng-blur="validUsername()"></input>
        </p>
    </div>
    <div class="input-box transition-2s" ng-class="{displayerror:addresserror}">
        <p>
            <input type="text" id="address" placeholder="配送地址" ng-model="orderdetail.memberAddress" ng-blur="validAddress()"></input>
        </p>
    </div>
    <div class="input-box transition-2s" ng-class="{displayerror:sendtimeerror}">
        <p id="send-time">
            <span style="height: 30px;line-height: 30px;font-size: 14px;color: #868686" id="time-value">配送时间</span>
        </p>
    </div>
    <div class="input-box checkbutton">
        <span>需要:</span>
        <div ng-class="{true: 'checked', false: 'unchecked'}[needcandy]" ng-click="changeNeedCandy()" onFocus="this.blur()">
            润喉糖
        </div>
        <div ng-class="{true: 'checked', false: 'unchecked'}[neednapkin]" ng-click="changeNeedNapkin()">
            餐巾纸
        </div>
    </div>
    <div class="input-box height-100">
        <div class="height-30 order-item-div"  ng-repeat="orderItem in orderdetail.startOrderItemDtoList">
            <span style="text-align: left;padding-left: 15px;">{{orderItem.goodsName}}</span>
            <span>{{orderItem.orderCount}}份</span>
            <span><span style="color: red"> {{orderItem.goodsPrice}}</span>&nbsp;&nbsp;元/份</span>
        </div>
        <div class="height-30" style="margin-top: 30px;font-size: 18px;color: #1e1e1e;">
            <span style="width: 55%;display: inline-block;"></span>
            <span style="display: inline-block;width: 50px;">总价</span>
            <span style="display: inline-block;color: red;">{{orderdetail.totalPrice}}元</span>
        </div>
    </div>
    <div class="input-box textarea-div">
        <p>
            <span>订单备注:<textarea id="order-remark"></textarea></span>

        </p>
    </div>
    <button style="background-color:#fecb56 ;position: relative;bottom: 0px;width: 100%;height: 40px;letter-spacing: 10px;font-size: 14px;" ng-click="submitOrder()">
        确认订单
    </button>
</div>
</body>
</html>